body {
    width: 90%;
    margin: 2em auto;

    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 20px;
}

nav {
    grid-column: 3/13;
    grid-row: 1;
}

#content {
    grid-column: 3/13;
    grid-row: 2;
}