#sidebar {
    background: silver;
    padding: 10px;
    border: 2px solid black;

    /*display: flex;
    flex-direction: column;
    align-items: center;*/

    display: grid;
    grid-gap: 10px;

    position: fixed;
    /*top: 0;
    height: 100%;*/
    height: 90%;
    width: 13%;
}

#logo {
    /*margin: 0 auto;
    grid-row: 1;*/
}

#showAllProducts {
    background: lightgray;
    padding: 10px;
    border: 2px solid black;
    margin: 10px auto;

    grid-row: 5;
}